{% extends "base.html" %}
{% block title %}Power and Conflict{% endblock %}
{% block content %}

<br>

<div class="row row-cols-1 g-3">
    {%for poem in poems%}
    <div class="container p-3">
        <div class="card">

            <div class="card-body text-center">
                <h4 class="card-title">{{poem["name"]}}</h4>
                <p class="card-text">
                    {{poem["author"]}}
                </p>
            </div>
            <a class="btn btn-light" href="{{ url_for('views.bypoem', name=poem['name']) }}">View Quotes</a>

        </div>
    </div>
        {%endfor%}
        
    </div>
    <br>
    <br>
    <br>

    {% endblock %}