{% extends "base.html" %}
{% block title %}By Theme{% endblock %}
{% block content %}

<br>

<div class="row row-cols-1 g-3">
    {%for theme in themes%}
    <div class="container p-3">
        <div class="card">

            <div class="card-body text-center">
                <h4 class="card-title">{{theme}}</h4>
            </div>
            <a class="btn btn-light" href="{{ url_for('views.bytheme', theme=theme, text=text) }}">View Quotes</a>

        </div>
    </div>
        {%endfor%}
        
    </div>
    <br>
    <br>
    <br>

    {% endblock %}