{% extends "base.html" %}
{% block title %}{{name}}{% endblock %}
{% block content %}

<br>
<h1 class="text-center fw-bold">{{name}}</h2>
    <div class="text-center">
        <a class="btn btn-primary text-center" href="{{ url_for('views.printquotes', name=name, quotes=quotes) }}">Print</a>
    </div>
    <br>
    <div class="row row-cols-1 g-3">
        {%for quote in quotes%}
        <div class="container p-3">
            <div class="card">

                <div class="card-body text-center">
                    <p class="card-text fs-4 fst-italic">
                        "{{quote["quote"]}}"
                    </p>
                    <p class="card-text fs-5 fw-bold">{{quote["speaker"]}}</p>
                </div>
            </div>
        </div>
        {%endfor%}

    </div>
    <br>
    <br>
    <br>

    {% endblock %}
